


<div
  style="
    background: url(assets/images/hero-slide.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  "
>
  <div class="container">
    <div class="row">
      <div class="offset-xl-1 col-xl-10 col-md-12 col-12">
        <div class="py-13 pt-lg-16 pb-lg-14 text-center text-light">
          <h1 class="display-3 font-weight-bold text-white mb-2">
              Tu comodidad nuestro mayor compromiso
          </h1>
          <p class="px-lg-14 mb-4 lead">
              Busca cualquier producto, pidelo    y si no lo encuentras,<br />
            agregalo nosotros te lo haremos llevar.
          </p>
          <button class="btn btn-primary btn-lg">Chatear</button>
      

          <input type="text" (input)="onSave($event)" class="form-control m-3" />

          <br/>
          <app-fecha></app-fecha>

        </div>
      </div>
    </div>

    <div class="row" style="background:white;">
      <app-grafico></app-grafico>
    </div>
  </div>
</div>

            